/**
 * Site header
 */
.site-header {
  // border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // custom css
  display: flex;
  align-items: center;

  // custom css
  text-decoration: none;
  & a {
    text-decoration: none;
  }
  & a:hover {
    text-decoration: underline;
  }

  // Positioning context for the mobile navigation icon
  position: relative;
}

.custom-header {
  text-align: center;
  padding-bottom: $base-font-size;
}

.site-title {
  // @include relative-font-size(1.625);
  // font-weight: 300;
  // line-height: $base-line-height * $base-font-size * 2.25;
  // letter-spacing: -1px;
  margin-bottom: 0;
  // float: left;

  // add custom styles here:
  font-weight: bold;

  &,
  &:visited {
    // color: $grey-color-dark;
    color: $text-color;
  }
}

.site-nav {
  // float: right;
  // line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    text-transform: uppercase;
    font-size: $base-font-size * 0.8;

    // custom scss
    // text-transform: uppercase;
    // font-style: italic;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      // commented this out because we are using raised dots in some cases
      // margin-right: 20px;
    }
  }

  .category-label {
    display: none;
  }

  .category-emoji {
    margin-left: $base-font-size / 2;
  }

  div#category-links a:first-child .category-emoji {
    margin-left: 0;
  }

  // .page-link:hover > .category-emoji {
  //   margin-left: 0;
  // }
  //
  // .page-link:hover > .category-label {
  //   display: inline;
  // }

  @include media-query($on-palm) {
    position: absolute;
    top: 33%;
    right: $spacing-unit / 2;
    // top: 10px;
    // right: 10px;
    // float: right;
    background-color: $background-color;
    // border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    // position: absolute;
    // top: 10px;
    // right: 10px;
    // background-color: $background-color;
    // border-bottom: 1px solid $grey-color-light;
    // // border-radius: 5px;
    // text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
      background-color: $grey-color-light;
      border-bottom: 1px solid $grey-color-dark;
      border-top: 1px solid $grey-color-dark;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }

    .page-link-bullet {
        display: none;
        font-size: $base-font-size * 0.8;
    }

    .category-label {
      display: inline;
    }

    .category-emoji {
      margin-left: 0;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  // @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;

  // custom scss
  font-style: italic;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  // @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  padding-bottom: $spacing-unit/2;
  flex: 1;

  // ensures urls and long words don't break the layout
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.page-heading {
  // @include relative-font-size(2);
}

.post-list-heading {
  // @include relative-font-size(1.75);

  // custom scss
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  // font-size: $small-font-size;
  // color: $grey-color;

  // custom scss
  font-weight: bold;
  margin-top: -$base-font-size * 0.8;
  text-align: center;
}

.post-link {
  display: block;
  // @include relative-font-size(1.5);

  // custom scss
  font-style: normal;
  text-transform: none;
}



/**
 * Posts
 */
.post-header {
  // margin-bottom: $spacing-unit;
}

.post-title {

  // custom css
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;

  // @include relative-font-size(2.625);
  // letter-spacing: -1px;
  // line-height: 1;
  //
  // @include media-query($on-laptop) {
  //   @include relative-font-size(2.25);
  // }
}

.post-content {
  // margin-bottom: $spacing-unit;

  /*
   * Commenting out lines that trigger larger sizes.
  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
  */
}
