img + em {
  color: $grey-color;
	display: inline-block;
  font-size: $base-font-size * 0.8;
  margin-top: $base-font-size * 0.25;
  line-height: $base-font-size;
  font-style: normal;
}

img + em a {
  color: $grey-color !important;
  font-size: $base-font-size * 0.75;
  text-decoration: none;
}
