.recent-post-wrapper {
  display: block;
  margin-bottom: $base-font-size;
}

a.recent-post-url {
  color: $text-color;
  text-decoration: none;

  &:hover {
    // text-decoration: none;
  }

  &:hover > .recent-post-wrapper > .recent-post-title {
    text-decoration: none;
  }
}

.recent-post-title {
  // font-weight: bold;
  color: $brand-color;
  text-decoration: underline;
}

.recent-post-excerpt p {
  display: contents;
}
