---
layout: default
---

<h2 class="post-list-heading">{{ page.title }}</h2>

{{ content }}

<div>
  <h2 class="post-list-heading">Recent {{ page.category | capitalize }} Posts</h2>
  <ul>
  {% for post in site.categories[page.category] %}
    <li>
      <a class="post-url" href="{{ post.url }}">
        <div class="post-wrapper">
          <span class="post-date"> {{ post.date | date: "%-d %b %Y" }}: </span>
          <span class="post-title">{{ post.title }}.</span>
          <span class="post-excerpt">{{ post.excerpt }}</span>
        </div>
      </a>
    </li>
  {% endfor %}
  </ul>
</div>

{% include fin.html %}
