---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

{{ content }}

<div>
  <h2 class="post-list-heading">Recent Posts</h2>
  <ul>
  {% for post in site.posts limit: 10 %}
    <li>
      <a class="post-url" href="{{ post.url }}">
        <div class="post-wrapper">
          <span class="post-date"> {{ post.date | date: "%-d %b %Y" }}: </span>
          <span class="post-title">{{ post.title }}.</span>
          <span class="post-excerpt">{{ post.excerpt }}</span>
        </div>
      </a>
    </li>
  {% endfor %}
  </ul>
</div>

{% include fin.html %}
